In [1]:
import pandas as pd

In [2]:
example_df = pd.DataFrame({
    'column_1': [5,4,3],
    'column_2': ['a', 'b', 'c']
})
example_df

   column_1 column_2
0         5        a
1         4        b
2         3        c

In [3]:
df = pd.read_csv('./Project 1 Workbook Bundle/project_files/iris.csv')
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [5]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
print(df.shape)

(150, 5)

In [9]:
print(len(df))
print(df.shape[0])

150
150

In [10]:
print(df.min())

sepal_length       4.3
sepal_width          2
petal_length         1
petal_width        0.1
species         setosa
dtype: object

In [11]:
print(df.max())

sepal_length          7.9
sepal_width           4.4
petal_length          6.9
petal_width           2.5
species         virginica
dtype: object

In [13]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [14]:
# Series
int_series = pd.Series([1,2,3,4,5])
print(int_series)
print(type(int_series))

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

In [16]:
print(type(df.petal_length))
print(all(df.petal_length == df['petal_length']))

<class 'pandas.core.series.Series'>
True

In [18]:
print(df.petal_length.head())

print(df.petal_length.min())
print(df.petal_length.max())

0    1.4
1    1.4
2    1.3
3    1.5
4    1.4
Name: petal_length, dtype: float64
1.0
6.9

In [19]:
print(df.species.unique())

['setosa' 'versicolor' 'virginica']

In [23]:
print(df.petal_length.mean())

# can apply numpy math function to panda series
import numpy as np
print(np.mean(df.petal_length))

3.7580000000000005
3.7580000000000005

In [26]:
# create petal area
df['petal_area'] = df.petal_width * df.petal_length
df.petal_area

0       0.28
1       0.28
2       0.26
3       0.30
4       0.28
5       0.68
6       0.42
7       0.30
8       0.28
9       0.15
10      0.30
11      0.32
12      0.14
13      0.11
14      0.24
15      0.60
16      0.52
17      0.42
18      0.51
19      0.45
20      0.34
21      0.60
22      0.20
23      0.85
24      0.38
25      0.32
26      0.64
27      0.30
28      0.28
29      0.32
       ...
120    13.11
121     9.80
122    13.40
123     8.82
124    11.97
125    10.80
126     8.64
127     8.82
128    11.76
129     9.28
130    11.59
131    12.80
132    12.32
133     7.65
134     7.84
135    14.03
136    13.44
137     9.90
138     8.64
139    11.34
140    13.44
141    11.73
142     9.69
143    13.57
144    14.25
145    11.96
146     9.50
147    10.40
148    12.42
149     9.18
Length: 150, dtype: float64

In [27]:
# Boolean mask
example_mask = pd.Series([5, 3, -6, 7])

bool_mask = example_mask > 0
print(bool_mask)

0     True
1     True
2    False
3     True
dtype: bool

In [28]:
# show true values
example_mask[bool_mask]

0    5
1    3
3    7
dtype: int64

In [29]:
# show only false values
example_mask[~bool_mask]

2   -6
dtype: int64

In [31]:
df[df.petal_area > 14]

,sepal_length,sepal_width,petal_length,petal_width,species,petal_area
100,6.3,3.3,6.0,2.5,virginica,15.00
109,7.2,3.6,6.1,2.5,virginica,15.25
117,7.7,3.8,6.7,2.2,virginica,14.74
118,7.7,2.6,6.9,2.3,virginica,15.87
135,7.7,3.0,6.1,2.3,virginica,14.03
144,6.7,3.3,5.7,2.5,virginica,14.25

In [32]:
tf_mask = pd.Series([True, True, False, True, False])

print(tf_mask.astype(int))

0    1
1    1
2    0
3    1
4    0
dtype: int64

In [33]:
df['giant'] = (df.petal_area > 14).astype(int)

In [39]:
# Multiple mask
species_mask = df.species.isin(['versicolor', 'virginica'])

sepal_width_mask = df.sepal_width > 3.2

df[species_mask & sepal_width_mask]

,sepal_length,sepal_width,petal_length,petal_width,species,petal_area,giant
56,6.3,3.3,4.7,1.6,versicolor,7.52,0
85,6.0,3.4,4.5,1.6,versicolor,7.20,0
100,6.3,3.3,6.0,2.5,virginica,15.00,1
109,7.2,3.6,6.1,2.5,virginica,15.25,1
117,7.7,3.8,6.7,2.2,virginica,14.74,1
124,6.7,3.3,5.7,2.1,virginica,11.97,0
131,7.9,3.8,6.4,2.0,virginica,12.80,0
136,6.3,3.4,5.6,2.4,virginica,13.44,0
144,6.7,3.3,5.7,2.5,virginica,14.25,1
148,6.2,3.4,5.4,2.3,virginica,12.42,0

In [40]:
# groupby
df.groupby('species').mean()

,sepal_length,sepal_width,petal_length,petal_width,petal_area,giant
species,,,,,,
setosa,5.006,3.428,1.462,0.246,0.3656,0.00
versicolor,5.936,2.770,4.260,1.326,5.7204,0.00
virginica,6.588,2.974,5.552,2.026,11.2962,0.12

In [42]:
df.groupby('species').agg(['min', 'median', 'max'])

           sepal_length             sepal_width             petal_length  \
                    min median  max         min median  max          min
species
setosa              4.3    5.0  5.8         2.3    3.4  4.4          1.0
versicolor          4.9    5.9  7.0         2.0    2.8  3.4          3.0
virginica           4.9    6.5  7.9         2.2    3.0  3.8          4.5

                       petal_width             petal_area                 \
           median  max         min median  max        min  median    max
species
setosa       1.50  1.9         0.1    0.2  0.6       0.11   0.300   0.96
versicolor   4.35  5.1         1.0    1.3  1.8       3.30   5.615   8.64
virginica    5.55  6.9         1.4    2.0  2.5       7.50  11.445  15.87

           giant
             min median max
species
setosa         0      0   0
versicolor     0      0   0
virginica      0      0   1